.Card {
  min-width: 200px;
  width: 300px;
  height: 200px;
  border: 1px solid #f3f3f3;
  box-shadow: 2px 2px #f3f3f3;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: 10px;
}
.heading {
  color: #a7a7a7;
  font-size: 18px;
}
.value {
  font-size: 30px;
  letter-spacing: 1px;
}
.recovered {
  border-top: 5px solid #60bea0;
}
.confirmed {
  border-top: 5px solid #0a7ea2;
}
.deaths {
  border-top: 5px solid #db565d;
}
.lastupdate {
  color: #a7a7a7;
}
