@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  margin: 30px auto;
  width: 100%;
  background-color: #ffffff;
}
.Heading {
  font-family: "Helvetica";
  text-transform: uppercase;
  text-align: center;
  font-size: 40px;
  letter-spacing: 3px;
}

.more {
  padding: 10px;
  text-align: center;
}
option {
  background-color: #ffffff;
}
