.Map {
  height: 600px;
  background-color: #fff;
  padding: 16px;
  border-radius: 20px;
  margin-top: 20px;
  border: 2px solid #f3f3f3;
  width: 80%;
  margin: auto;
}

.Map .leaflet-container {
  height: 100%;
}

.popup-container {
  width: 150px;
}
.popup-flag {
  height: 90px;
  width: 90%;
  margin: 10px auto;
  background-size: cover;
  border-radius: 5px;
}
.popup-country {
  text-align: center;
  font-size: 20px;
  color: #121212;
}
.popup-cases,
.popup-recovered,
.popup-deaths {
  font-size: 13px;
  margin-top: 5px;
}
